[Unit]
Description=File Browser
After=network.target
[Service]
ExecStart=/bin/sh -c '/usr/local/bin/filebrowser -p 20080 -a $(ip addr show eth0 | grep \'inet\\b\' | awk \'{print $2}\' | cut -d/ -f1) -r /media/frahohen/data-001-4tb/data/'
[Install]
WantedBy=multi-user.target